<div class="post-frame">
    <div class="post-author">
        <a href="{{user.profile}}">{{userName}}</a>
        <img src="/images/{{user.avatar}}" alt="{{user}}avater">
    </div>
    <div class="post-content">
        {{postContent}}
    </div>
    <div class="post-interact">
        <a>Comment</a>
        <a>Share</a>
    </div>
</div>

<script src="/models/Post.js"></script>