<section class="profile-card">

    <h1>My Profile</h1>

    <div>
        <h1>{{profile.name}}</h1>
        <h2>{{profile.title}}</h2>
        <h2>{{profile.bio}}</h2>
        <h2>{{profile.main_languages}}</h2>
        <h2>{{profile.to_learn}}</h2>

    </div>

</section>

<script src="/models/Profile.js"></script>
{{!-- 
<script src="/javascript/profile.js"></script> --}}


